.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.error {
    border: tomato 1px solid;
}

.error-message {
    color: tomato;
}

.active-filter {
    background-color: tomato;
}

.is-done {
    opacity: 0.5;
}